/*
* @Author: sugarman
* @Date:   2018-02-10 14:27:24
* @Last Modified by:   sugarman
* @Last Modified time: 2018-02-10 16:24:56
*/
.pageB-btn{
	width: 100px;
	height: 50px;
	background-color: green;
	color: #fff;
	text-align: center;
	line-height: 50px;
	
}